@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'poppins', sans-serif;
}



/*  select button arrow  */
.css-1xc3v61-indicatorContainer {
  color: #039a77 !important;

}

/* LOADER */
.loader {
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}